{% extends "base.html" %}

{% block userdetails %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
{% endblock %}

{% block tiles %}

<style>
form {
    width: 500px;
    margin-left: 350px;
}
</style>
  <div class="inner">

  <form id= "form1" method="post" action="{% url 'login' %}">
    {% csrf_token %}
  <div class="fields">
    <div class="field">
      <input type="text" name="username" id="username" placeholder="Username" />  
    </div>
    <div class="field">
      <input type="password" name="password" id="password" placeholder="Password" />  
    </div>
  </div>
  <ul class="actions">
    <li><input type="submit" value="Login" class="primary" /></li>
    <li><input type="hidden" name="next" value="{{ next }}" /> </li>
  </ul>
</form>
</div>
  
{% endblock %}

{%block contact%}


{%endblock%}
