{% extends "base.html" %}
{% load static %} 
{% block heading %}
<header>
	<h1> Project MIRIAD <br />
	Clinical Validation Portal.</h1>
	<p>Select a work package from below on which you wish to start the test. Enter the username and password provided to you whenever prompted.</p>
</header>

{% endblock %}


{% block tiles %} 
<article class="style1">
	<span class="image">
		<img src="{% static 'images/pic09.jpg' %}" alt="" />
	</span>
	<a href="{% url 'WP1' %}">
		<h2>WP1</h2>
		<h3>Compression</h3>
		<div class="content">
			<p>Click to start test for WP1.</p>
		</div>
	</a>
</article>

<article class="style2">
	<span class="image">
		<img src="{% static 'images/pic08.jpg' %}" alt="" />
	</span>
	<a href="">
		<h2>WP3</h2>
		<h3>Chest XRay Screening</h3>
		<div class="content">
			<p>Portal under development.</p>
		</div>
	</a>
</article>

{% endblock %}

{%block detailedtable%}


{% endblock %}

{% block footer %}

<section>
	<h2>How to use the portal</h2>
 <iframe width="420" height="290"
src="https://www.youtube.com/embed/I7j5x18igp4">

</iframe> 
	
</section>


<section>
	<h2>Follow KLIV</h2>
	<ul class="icons">
		<li><a href="https://iitkliv.github.io" class="icon solid style2 fa-laptop"><span class="label">Website</span></a></li>
		<li><a href="https://github.com/iitkliv" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
		<li><a href="https://www.youtube.com/channel/UCq2X0_i9aXhiDA45MlS4XcQ" class="icon brands style2 fa-youtube"><span class="label">Youtube</span></a></li>
		<!-- <li><a href="" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li> -->
	</ul>
	<h2> Register </h2>	
	<p> Click <a href="{% url 'register' %}"> here</a> to register and explore the portal.</p>
</section>


{% endblock %}
