{% extends "base.html" %}
{% load static %}


{% block importcss %}
<link rel="stylesheet" href="{% static 'css/custom_style.css' %}"  />

{% endblock %}

{% block headersection %}
  <header id="header">
      <!-- Nav -->
        <nav>
          <ul>
            <li><a href="#menu">Menu</a></li>
          </ul>
        </nav>

<!--     </div> -->
  </header>
{% endblock %}

{% block heading %}
{% endblock %}

{% block userdetails%}

{% if user.is_authenticated %}
<p> Welcome Dr.{{ user.get_username }}, </p>
{% endif %} 

{% endblock %}
{% block tiles %}



<div class="container_custom">  
  <span >
  </span>

  <span class="image">
    <img id="myImg1" src="{{image1_url}}" alt="" height="326" width="512"/>
      <div class="content">
      <p align="center"> Image (a) </p>
<!--       <p align="center"> {{num_pairs}} </p>
      <p align="center"> {{realimg_url}} </p>
      <p align="center"> {{fakeimg_url}} </p> -->
    </div>
  </span>
  <div id="myModal1" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption1"> Image (a)</div>
</div>
  
  <span class="image">
    <img id="myImg2" src="{{image2_url}}" alt="" height="326" width="512"/>
      <div class="content">
      <p align="center"> Image (b) </p>
    </div>
  </span>
  <div id="myModal2" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img02">
  <div id="caption2"> Image (b)</div>
</div>

{% endblock %}

{% block jsimport %} 
<script src="{% static 'js/custom_script.js' %}"></script>

{% endblock %}